body{
    font-family: 'Open Sans', sans-serif;
}
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
section{
    float:left;
    width:100%;
    background: #fff;  /* fallback for old browsers */
    padding:30px 0;
}
h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}


/*Profile card 2*/
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:250px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
    padding-top: 5rem!important;
}

.profile-card-2 .card-body2{
    position:relative;
    padding-top: 7rem!important;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: 15%;
  max-width: 170px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 .profile-buy {
  width: 70px;
  height: 70px;
}
.profile-card-2 h5{
    font-weight:600;
    color:#31716D;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:20px;
}
.profile-card-2 .card-title2{
    font-size:25px;
}

.profile-card-2 .align-card{
  margin-left:21%;
}
.profile-card-2 .align-form{
  margin-top:5%;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
    margin-bottom: 5%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
  display: inline-block;
    font-size: 40px;
    color: #1c2e3e;
    text-align: center;
    line-height: 30px;
    margin:0 5px;
}
.profile-card-2 i:hover {
  color:#31716D;
}
