input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 100ms;
}

.comments {
    margin-top: 40px;
}

.review-btn {
    display: flex;
    justify-content: space-around;
}